<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url('home') }}">
            <img src="{{ absolute_url(asset('static/img/logo.jpg')) }}" width="50px" height="50px" alt="">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            MARÍA AUXILIADORA DE LA ESPERANZA
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                {% if parameters.isAuth %}
                    <li class="nav-item">
                        <span class="nav-link" >{{ parameters.auth['user']['nick'] }}</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('student-profile') }}">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('courses') }}">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('academic-qualification') }}">Notas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('close') }}">Salir</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('teacher') }}">Docente</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('student') }}">Alumno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('control-follow-u-list') }}">Seguimiento de control</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>